.button {
  background-color: @green;
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  @media (min-width:@tablet-width){
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
