.catalog{
  width: 280px;
  margin: 0 auto;
}
.catalog__title{
  margin-top: 27px;
  margin-bottom: 60px;
}
.catalog__list{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.catalog__item{
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 112px 40px;
  row-gap: 13px;
  column-gap: 2px;
  margin-bottom: 44px;
}
.catalog__designation{
  width: 76px;
  margin: 0;
  font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
margin-bottom: 14px;
}
.catalog__description-list{
  padding: 0;
  list-style-type: none;
font-size: 12px;
line-height: 16px;
color: @dark-gray;
}
.catalog__description-item{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.catalog__link{
  margin-top: 14px;
  margin-left: 36px;
}
.catalog__link-all{
  font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
color:@black-title;
text-decoration: none;
margin-bottom: 8px;
}
.catalog__text{
  margin-top: 0;
  margin-bottom: 21px;
font-size: 12px;
line-height: 16px;
}
.button--more{
  background-color: @gray;
  color: @dark-gray;
}
.button--order{
  font-size: 16px;
  color: @dark-gray;
}
.catalog__item-more{
  margin-top: 103px;
  text-align: center;
}
