.example{
  background-color: @gray;
  padding-top: 25px;
  padding-bottom: 40px;
}

.example__wrapper{
  width: 280px;
  margin: 0 auto;
}
.example__caption{
  margin-top: 0;
  margin-bottom: 40px;
}
.example__description{
  font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
margin-bottom: 34px;
}
.example__item:nth-child(1){
  margin-right: 73px;
}
.example__list{
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 0;
  text-align: center;
  margin-bottom: 24px;
}
.example__num{
font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 24px;
margin-bottom: 8px;
}
.example__text{
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size:12px;
  line-height: 100%;
  color: @dark-gray;
}
.example__cost{
  font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
text-transform: uppercase;
display: flex;
justify-content: center;
margin-bottom: 40px;
}
.example__cost-text{
margin: 0;
}
.example__range{
  margin-top: 15px;
}
.example__button{
border: none;
background-color: transparent;
font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
}
