.features {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    padding-left: 30px;
    padding-right: 105px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 110px;
    padding-right: 106px;
  }
}

.features__wrapper {
  margin: 0 auto;
  margin-bottom: 52px;

  @media (min-width: @tablet-width) {
    margin-bottom: 67px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    margin-bottom: 208px;
  }
}

.features__caption {
  margin-bottom: 42px;
  margin-top: 0;

  @media (min-width: @tablet-width) {
    margin-top: 47px;
    margin-bottom: 31px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
  }
}

.features__item {
  display: flex;
  position: relative;
  margin-bottom: 26px;
  min-height: 54px;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    position: relative;
    z-index: 2;
  }
}

.features__item::before {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: @green;
  top: -3px;
  left: 0;
  content: "";
  z-index: 0;

  @media (min-width: @tablet-width) {
    width: 80px;
    height: 80px;
    top: 40px;
  }
}

.features__item:nth-child(1)::after {
  @media (min-width: @tablet-width) {
    position: absolute;
    content: "1";
    background-color: transparent;
    width: 112px;
    height: 280px;
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 280px;
    line-height: 280px;
    color: @gray;
    right: 0;
    z-index: 0;
  }
}

.features__item:nth-child(2)::after {
  @media (min-width: @tablet-width) {
    position: absolute;
    content: "2";
    background-color: transparent;
    width: 134px;
    height: 280px;
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 280px;
    line-height: 280px;
    color: @gray;
    right: 0;
    z-index: 0;
  }
}

.features__item:nth-child(3)::after {
  @media (min-width: @tablet-width) {
    position: absolute;
    content: "3";
    background-color: transparent;
    width: 134px;
    height: 280px;
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 280px;
    line-height: 280px;
    color: @gray;
    right: 0;
    z-index: 0;
  }
}

.features__item:nth-child(4)::after {
  @media (min-width: @tablet-width) {
    position: absolute;
    content: "4";
    background-color: transparent;
    width: 136px;
    height: 280px;
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 280px;
    line-height: 280px;
    color: @gray;
    right: 0;
    z-index: 0;
  }
}

.features__list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 280px 280px;
    column-gap: 135px;
    row-gap: 37px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 230px 246px 248px 250px;
    column-gap: 93px;
    grid-template-rows: 280px;
    margin-bottom: 0;
  }
}

.features__item:nth-child(1) .features__image {
  position: absolute;
  z-index: 2;
  left: 15px;
  top: 14px;

  @media (min-width: @tablet-width) {
    left: 27px;
    top: 67px;
  }
}

.features__item:nth-child(2) .features__image {
  position: absolute;
  z-index: 2;
  left: 15px;
  top: 13px;

  @media (min-width: @tablet-width) {
    left: 25px;
    top: 64px;
  }
}

.features__item:nth-child(3) .features__image {
  position: absolute;
  z-index: 2;
  left: 18px;
  top: 15px;

  @media (min-width: @tablet-width) {
    left: 28px;
    top: 67px;
  }
}

.features__item:nth-child(4) .features__image {
  position: absolute;
  z-index: 2;
  left: 14px;
  top: 13px;

  @media (min-width: @tablet-width) {
    left: 24px;
    top: 64px;
  }
}

.features__text {
  line-height: 18px;
  margin: 0;
  margin-left: 80px;
  color: @dark-gray;
  position: relative;

  br {
    display: none;
  }

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    z-index: 2;
    margin-top: auto;
    margin-bottom: 30px;
    margin-left: 0;

    br {
      display: block;
    }
  }
}
