.features__wrapper{
  width: 280px;
  margin: 0 auto;
  @media (min-width: @tablet-width){
    width: 708px;
    margin-bottom: 69px;
  }
  @media (min-width: @desktop-width){
    width: 1220px;
    margin-bottom: 205px;
  }
}
.form__container{
  @media (min-width: @desktop-width){
    display: flex;
  }
}
.features__caption{
  margin-bottom: 42px;
}
.features__item{
  display: flex;
  @media (min-width: @tablet-width){
    flex-direction: column;
    position: relative;
    z-index: 2;
  }
}
.features__item:nth-child(1):after{
  @media (min-width: @tablet-width){
    position: absolute;
    content:"1" ;
    background-color: transparent;
    width: 112px;
height: 280px;
font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 280px;
line-height: 280px;
color: @gray;
right: 0;
z-index: 0;
  }
}
.features__item:nth-child(2):after{
  @media (min-width: @tablet-width){
    position: absolute;
    content:"2" ;
    background-color: transparent;
    width: 134px;
height: 280px;
font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 280px;
line-height: 280px;
color: @gray;
right: 0;
z-index: 0;
  }
}
.features__item:nth-child(3):after{
  @media (min-width: @tablet-width){
    position: absolute;
    content:"3" ;
    background-color: transparent;
    width: 134px;
height: 280px;
font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 280px;
line-height: 280px;
color: @gray;
right: 0;
z-index: 0;
  }
}
.features__item:nth-child(4):after{
  @media (min-width: @tablet-width){
    position: absolute;
    content:"4" ;
    background-color: transparent;
    width: 136px;
height: 280px;
font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 280px;
line-height: 280px;
color: @gray;
right: 0;
z-index: 0;
  }
}
.features__list{
  list-style-type: none;
  padding: 0;
margin: 0;
margin-bottom: 23px;
@media (min-width: @tablet-width){
  display: grid;
  grid-template-columns: 247px 249px;
  grid-template-rows: 280px 280px;
  column-gap: 137px;
  row-gap: 37px;
}
@media (min-width: @desktop-width){
  grid-template-columns: 230px 246px 248px 250px;
  column-gap: 80px;
  grid-template-rows:280px;
  margin-bottom: 0;
}
}
.features__image{
  background-color: @green;
}
.features__text{
  line-height: 18px;
  margin: 0;
  margin-bottom:26px;
  color: @dark-gray;
  @media (min-width: @tablet-width){
    font-size: 16px;
    line-height: 24px;
    z-index: 2;
    margin-top: auto;
    margin-bottom: 57px;
  }
}
