.form{
  width: 280px;
  margin: 0 auto;
  margin-bottom: 32px;
}
.form__title{
  margin-top: 27px;
  margin-bottom: 37px;
}
.form__tagline{
  font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
text-transform: uppercase;
margin-bottom: 39px;
}
.form__data{
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 52px;
}
.form__list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.form__filter{
  font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;
text-transform: uppercase;
color: @dark-gray;
margin-right: 12px;
}
.form__input{
  border: 1px solid @grizzle;
box-sizing: border-box;
padding-left: 15px;
padding-top: 13px;
padding-bottom: 14px;
font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;
text-transform: uppercase;
flex-grow: 1;
}
.form__result{
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 51px;
}
.form__item--data:not(:last-child),
.form__item--owner:not(:last-child){
  margin-bottom: 14px;
}
.form__item--result {
  margin-bottom: 25px;
}
.form__owner,.form__comment{
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
}
.form__heading{
  font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 26px;
padding: 0;
margin-bottom: 35px;
}
.form__area{
  margin: 0;
  width: 280px;
  font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;
text-transform: uppercase;
padding:9px 12px 125px 15px;
border: 1px solid @grizzle;
box-sizing: border-box;
color:@dark-gray;
}
.form__additionally{
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 41px;
}
.form__heading{
  margin-bottom: 39px;
}
.form__item--additionally{
  margin-bottom: 25px;
}
.form__filter--product{
  color: @black;
}
.button--form{
  font-size: 16px;
  margin-bottom: 21px;
}
.form__marked{
line-height: 16px;
margin-left: 62px;
color: @dark-gray;
}
.form__item--data,.form__item--owner{
  display: flex;
  align-items: center;
}
