.intro{
  color: @white;
  margin: 0 auto;
 background-color: @dark-green;
 background-image:linear-gradient(rgba(104,183,56,0.85) 63%, white 50%), url("../img/cat-background.png");
 background-repeat: no-repeat;
 background-position: top center;
}

.intro__wrapper {
  text-align: center;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 164px;
}
.intro__picture{
  width: 280px;
  margin: 0 auto;
  margin-top: -140px;
}
.intro__title{
  font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 36px;
margin-top: 27px;
margin-bottom: 25px;
}
.intro__tagline{
  font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 14px;
text-transform: uppercase;
margin-top: 0;
margin-bottom: 0;
}
.button--intro{
  margin: 0 auto;
  margin-bottom: 20px;
}
