.intro{
  padding-left: 20px;
  padding-right: 20px;
  color: @white;
  margin: 0 auto;
 background-image: url(../img/cat-background.jpg), linear-gradient( rgb(100 168 63) 67% ,white 50% );
 background-repeat: no-repeat;
 background-position: top center;
 @media (min-resolution:2dppx){
  background-image:url(../img/cat-background@2x.jpg), linear-gradient( rgb(100 168 63) 100% ,white 50% );
  background-size: auto 302px;
 }
 @media (min-width: @tablet-width){
  color: @black;
  background-color:transparent;
  background-image:none;
  position: relative;
  margin-top: 0;
  padding-left: 30px;
  padding-right: 30px;
 }
}

.intro__container{
  @media (min-width: @tablet-width){
    margin: 0 auto;
    position: relative;
  }
  @media (min-width: @desktop-width){
    width: 1220px;
    display: flex;
  align-items: center;
  justify-content: start;
padding: 0;
margin-bottom: 82px;
}
  }

.intro__wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 164px;
  @media (min-width: @tablet-width){
    align-items: start;
  }
  @media (min-width: @desktop-width){
width: 610px;
margin: 0;
  }
}
.intro__picture{
  width: 280px;
  margin: 0 auto;
  margin-top: -140px;
  @media (min-width: @tablet-width){
    width: 100%;
  }
  @media (min-width: @desktop-width){
    margin: 0;
    padding: 0;
margin-left: -40px;
  }

  }

.intro__title{
  width: 249px;
  font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 36px;
margin-top: 27px;
margin-bottom: 25px;
@media (min-width: @tablet-width){
  width: 414px;
  font-size: 60px;
line-height: 60px;
text-align: start;
margin-top: 0;
margin-left: 87px;
margin-bottom: 41px;
}
@media (min-width: @desktop-width){
  margin-left: 80px;
  margin-top: 82px;

}
}
.intro__tagline{
  font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 14px;
text-transform: uppercase;
margin-top: 0;
margin-bottom: 0;
@media (min-width: @tablet-width){
  font-size: 20px;
line-height: 20px;
margin-left: 87px;
}
@media (min-width: @desktop-width){
  margin-left: 80px;
}
}
.button--intro{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
  @media (min-width: @tablet-width){
position: absolute;
left: 91px;
top: 230px;
width: 244px;
font-size: 20px;
line-height: 20px;
padding: 14px 26px 14px 26px ;
margin: 0;
  }
  @media (min-width: @desktop-width){
    left: 80px;
    top: 350px;
  }
}
