.page-footer {
  background-color: @gray;
  padding-top: 38px;
  padding-bottom: 32px;

  @media (min-width: @tablet-width) {
    padding-top: 56px;
    padding-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 59px;
  }
}

.page-footer__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.page-footer__social {
  padding-top: 23px;
  padding-bottom: 16px;
  margin-bottom: 22px;
  border-top: 1px solid @line-gray;
  border-bottom: 1px solid @line-gray;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
    width: 122px;
    border: none;
    margin-left: 15px;
    margin-top: -3px;
  }
}

.page-footer__social__list {
  max-width: 125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  list-style-type: none;
  margin: 0 auto;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    max-width: 129px;
    margin: 0;
  }
}

.page-footer__social__item:not(:last-child) {
  margin-right: 36px;

  @media (min-width: @tablet-width) {
    margin-right: 28px;
  }
}

.page-footer__copyright__link {
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: @dark-gray;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    width: 163px;
  }
}

.page-footer__social-icon,
.page-footer__academy-logo {
  color: @icon-color;
}

.page-footer__social__link:hover .page-footer__social-icon {
  color: @green;
}

.page-footer__social__link:active {
  opacity: 0.3;
}

.page-footer__copyright__link:hover .page-footer__academy-logo {
  color: @green;
}

.page-footer__copyright__link:active {
  opacity: 0.3;
}

.page-footer__logo__text:hover .footer-social-logo {
  opacity: 0.8;
}

.page-footer__logo__text:active .footer-social-logo {
  opacity: 0.6;
}

.page-footer__social-icon--vk {
  width: 23px;
  height: 13px;

  @media (min-width: @tablet-width) {
    width: 29px;
    height: 17px;
  }
}

.page-footer__social-icon--instagram {
  width: 16px;
  height: 16px;

  @media (min-width: @tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.page-footer__social-icon--facebook {
  width: 13px;
  height: 20px;

  @media (min-width: @tablet-width) {
    width: 13px;
    height: 27px;
  }
}
