.page-header__container{
  display: flex;
  width: 280px;
  margin: 0 auto;
}
.main-nav__wrapper{
  width: 280px;
  margin: 0 auto;
  text-transform: uppercase;
}
.main-nav__item{
list-style-type: none;
}
.main-nav__link{
  text-decoration: none;
  color:@black;
  font-family: "Oswald", "Arial",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}
