.page-header{
  @media (min-width:@desktop-width){
    background-image:linear-gradient(to left, rgba(104,183,56,0.85) 50%0, white 50%) ,url("../img/cat-background-2.png");
background-repeat: no-repeat;
background-position: right;
padding-top: 69px;
  }
  }
.page-header__container{
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-right: 0;
  padding-left: 6%;
  @media (min-width: @tablet-width){
    width: 174px;
    margin: 0;
    margin-right: 93px;
    padding-left: 0;
  }
  @media (min-width: @desktop-width){
    margin-right: 538px;
  }
}
.page-header__layout{
  width: 100%;
  margin: 0 auto;
  @media (min-width: @tablet-width){
    width: 708px;
    display: flex;
    align-items: flex-start;
margin-bottom: 75px;
justify-content: start;
  }
  @media (min-width: @desktop-width){
    width:1220px;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    margin-bottom: 87px;
  }
}
.page-header__title{
  margin-top: 24px;
  margin-bottom: 24px;

}

