.page-footer {
  background-color: @gray;
  padding-top: 39px;
  padding-bottom: 32px;
}
.page-footer__wrapper{
width: 280px;
margin: 0 auto;
}
.page-footer__logo{
margin-left: 75px;
margin-bottom: 57px;
}
.social{
  margin-bottom: 53px;
}
.social__list{
  display: flex;
  justify-content: center;
  padding: 0;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
}
.copyright__link{
font-size: 16px;
line-height: 18px;
text-decoration: none;
color: @dark-gray;
}

