.purpose {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 570px 570px;
    column-gap: 80px;
    margin: 0 auto;
    width: 1220px;
    margin-bottom: 71px;
  }
}

.purpose__wrapper {
  background-color: @gray;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-bottom: 22px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: @tablet-width) {
    padding-top: 77px;
    padding-bottom: 57px;
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 59px;
    margin: 0;
  }
}

.purpose__container {
  display: flex;
  align-items: center;

  @media (min-width: @tablet-width) {
    margin-left: 34px;
  }
}

.purpose__caption {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  position: relative;
  margin-left: 71px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    order: -1;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    order: 1;
    margin-left: 162px;
  }
}

.purpose__caption::after {
  position: absolute;
  width: 50px;
  height: 50px;
  content: "";
  background-color: @green;
  top: -7px;
  left: -70px;
  z-index: 1;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    width: 200px;
    height: 200px;
    left: 393px;
    top: 15px;
    content: "";
  }

  @media (min-width: @desktop-width) {
    width: 100px;
    height: 100px;
    left: -162px;
    top: -28px;
  }
}

.purpose__caption--slimming::before {
  position: absolute;
  top: -10px;
  left: -61px;
  z-index: 2;
  content: url("../img/lynx.svg");

  @media (min-width: @tablet-width) {
    left: 420px;
    top: 5px;
    content: url("../img/lynx-tablet.svg");
  }

  @media (min-width: @desktop-width) {
    left: -145px;
    top: -30px;
    content: url("../img/lynx-desktop.svg");
  }
}

.purpose__caption--gain::before {
  position: absolute;
  top: 5px;
  left: -82px;
  z-index: 2;
  content: url("../img/panther.svg");

  @media (min-width: @tablet-width) {
    left: 363px;
    top: 55px;
    content: url("../img/panther-tablet.svg");
  }

  @media (min-width: @desktop-width) {
    left: -190px;
    top: -5px;
    content: url("../img/panther-desktop.svg");
  }
}

.purpose__image {
  z-index: 5;
  left: 0;
}

.purpose__image--lynx {
  left: 50px;

  @media (min-width: @tablet-width) {
    left: 640px;
  }
}

.purpose__image--panther {
  left: 30px;

  @media (min-width: @tablet-width) {
    left: 570px;
  }
}

.purpose__text {
  line-height: 18px;
  margin-bottom: 19px;
  padding-bottom: 21px;
  border-bottom: 1px solid @line-gray;
  margin-top: 10px;

  @media (min-width: @tablet-width) {
    border: none;
    font-size: 16px;
    line-height: 24px;
    color: @black;
    width: 340px;
    margin-left: 33px;
    margin-top: 24px;
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    width: 467px;
    margin-bottom: 27px;
    margin-top: 73px;
    padding: 0;
  }
}

.purpose__button {
  background-color: transparent;
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 0;
  position: relative;
  text-decoration: none;
  color: @black;
  padding-right: 15px;
  margin-right: auto;
  max-width: 87px;

  &::after {
    position: absolute;
    width: 24px;
    height: 12px;
    content: url("../img/form/arrow.svg");
    top: -1px;
    left: 100px;

    @media (min-width: @tablet-width) {
      left: 133px;
      top: -2px;
    }

    @media (min-width: @desktop-width) {
      left: 136px;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-left: 32px;
    padding-right: 25px;
    margin-right: auto;
    max-width: 108px;
  }
}

.purpose__button:hover {
  &::after {
    position: absolute;
    width: 32px;
    height: 12px;
    content: url("../img/form/arrow2.svg");
    top: -1px;
    left: 102px;

    @media (min-width: @tablet-width) {
      left: 133px;
      top: -2px;
    }

    @media (min-width: @desktop-width) {
      left: 136px;
    }
  }
}

.purpose__button:active {
  opacity: 0.3;
}
