.recommended{
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  @media (min-width:@tablet-width){
    padding-left: 30px;
    padding-right: 30px;
  }
  @media (min-width:@desktop-width){
    width: 1220px;
    display: flex;
    align-items: center;
    padding-bottom: 86px;
  }
}
.recommended__wraper{
  @media (min-width:@desktop-width){
    margin-right: 80px;
  }
}
.recommended__list{
  list-style-type: none;
  padding: 0;
  margin: 0;
  @media (min-width:@desktop-width){
    width: 896px;
    border: none;
    padding: 0;
  }
}
.recommended__title{
  font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 24px;
margin-top: 25px;
margin-bottom: 36px;
position: relative;
z-index: 2;
@media (min-width:@tablet-width){
  margin-left: 37px;
  margin-bottom: 80px;
  font-size: 36px;
line-height: 36px;
margin-top: 68px;
}
@media (min-width:@desktop-width){
  margin-left: 0;
  margin-bottom: 106px;
}
}
// .recommended__title::after{
//   position: absolute;
//   height: 2px;
//   width: 100vw;
//   content: "";
//   background-color: @green;
//   top: 60%;
//   left: 248px;
//   z-index: -2;
//   @media (min-width:@tablet-width){
//     left: 373px;
//   }
// }
// .recommended__title::before{
//   @media (min-width:@tablet-width){
//   position: absolute;
//   height: 2px;
//   width: 100vw;
//   content: "";
//   background-color: @green;
//   top: 60%;
//   right:708px;
//   z-index: -2;
//   }
//   @media (min-width:@desktop-width){
//     right: 936px;
//   }
// }
.recommended__link{
 border-top:1px solid @table-gray;
 border-bottom:1px solid @table-gray;
 padding-bottom: 19px;
 margin-bottom: -1px;
  @media (min-width:@tablet-width){
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: flex-end;
border: 1px solid @table-gray;
padding:26px 38px 28px 38px;
margin-bottom: -1px;
  }
  @media (min-width:@desktop-width){
    align-items: center;
    justify-content: flex-start;
    border: none;
    border-top: 1px solid @table-gray;
    border-bottom: 1px solid @table-gray;
    padding: 15px 0 17px 0;
  }
}

.recommended__name{
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 13px;
  margin-top: 13px;
  color:@black-two;
  @media (min-width:@tablet-width){
    font-size: 20px;
line-height: 20px;
margin: 0;
  }
  @media (min-width:@desktop-width){
    margin-right: auto;
  }
}
.recommended__description{
display: flex;
justify-content: space-between;
margin-bottom: 15px;
@media (min-width:@tablet-width){
  font-size: 16px;
line-height: 20px;
margin: 0;
width: 225px;
}
@media (min-width:@desktop-width){
  width: 288px;
}
}

.button--recommended{
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 16px;
  @media (min-width:@tablet-width){
    margin-top: 25px;
  }
  @media (min-width:@desktop-width){
    width: 244px;
    margin-top: 0;
    margin-left: 38px;
  }
}
.recommended__promotion{
  background:linear-gradient(rgba(104,183,56,0.85) 100%, white 50%), url("../img/catalog/cat_inbox.jpg");
  background-position: center;
  margin: 0 auto;
  background-repeat: no-repeat;
  margin-top: 35px;
  margin-bottom: 35px;
  padding-top: 59px;
  padding-bottom: 43px;
  display: flex;
  flex-direction: column;
 align-items: center;
  @media (min-resolution: 2dppx) {
    background:url("../img/catalog/cat_inbox@2x.jpg");
  }
  @media (min-width:@tablet-width){
    background-position: center;
    background:linear-gradient(rgba(104,183,56,0.85) 100%, white 50%), url("../img/catalog/cat_inbox-tablet.jpg");
    background-size: cover;
    flex-direction: row;
margin-bottom: 76px;
padding: 71px 124px 69px 77px;
justify-content: space-between;
align-items: center;
@media (min-resolution: 2dppx) {
    background:url("../img/catalog/cat_inbox-tablet@2x.jpg");
  }
  }
  @media (min-width:@desktop-width){
    width: 245px;
    margin: 0;
    margin-top: 200px;
    padding: 55px 42px 42px 41px;
    justify-content: center;
    flex-direction: column;
    background:url("../img/catalog/cat_inbox-desktop.jpg");
    background-size: 245px 289px;
    @media (min-resolution: 2dppx) {
      background:url("../img/catalog/cat_inbox-desktop@2x.jpg");
    }
  }
}
.recommended__promotion__link{
  position: relative;
font-size: 16px;
line-height: 20px;
width: 161px;
text-align: center;
color: @white;
@media (min-width:@tablet-width){
text-align: start;
}
@media (min-width:@desktop-width){
  text-align: center;
  margin: 0;
}
}
.recommended__promotion__image{
  margin-bottom: 48px;
  @media (min-width:@tablet-width){
    margin: 0;
  }
  @media (min-width:@desktop-width){
    margin-bottom: 46px;
  }
}

